
.text-field {
    -fx-background-color: #a9a9a9 , white , white;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
    -fx-border-radius: 15 15 15 15;
 	 -fx-background-radius: 15 15 15 15;
 	 -fx-font-family: "Proxima Nova";
}